<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header>
        <h3 style="float: left">Configuraciones</h3>
      </c-card-header>

      <c-card-body>
        <c-row class="mt-2">
          <!-- <h4>Informacion del usuario</h4> -->

          <!-- input logo -->
          <div>
            <label cLabel for="formFileLg">Large file input example</label>
            <input cFormControl id="formFileLg" sizing="lg" type="file" />
          </div>

          <c-col [md]="3">
            <div class="form-floating">

              <input type="file" class="form-control" id="" name="" placeholder="Seleccione el logo" />
              <label for="logo">Seleccione el logo</label>

              <div class="alert alert-danger" role="alert" *ngIf="">
                El nombre del usuario <strong> es obligatorio</strong>
              </div>
            </div>
          </c-col>

          <!-- Notification email -->
          <c-col [md]="6">
            <div class="form-floating">
              <input type="email" class="form-control" placeholder="Correo electronico para recibir notificaciones" />
              <label for="color">Correo electronico para recibir notificaciones</label>

              <div class="alert alert-danger" role="alert" *ngIf="">
                El nombre del usuario <strong> es obligatorio</strong>
              </div>

            </div>
          </c-col>

          <P> Nota: Si deseas aumentar o disminuir tu paquete de empleados contratados favor de ponerte en contacto
            con el administrador del sistema.</P>
        </c-row>
      </c-card-body>

      <c-card-footer>
        <button cButton color="dark" variant="outline" style="float: right" id="btnSubmit" type="submit">
          Guardar
        </button>
      </c-card-footer>
    </c-card>
  </c-col>
</c-row>