<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header>
        <h3 style="float: left">Configuraciones</h3>
      </c-card-header>

      <c-card-body>
        <c-row class="mt-2">
          <!-- <h4>Informacion del usuario</h4> -->

          <!-- input logo -->
          <c-col class="col-4" style="width: 400px;">
            <img cCardImg="top" cCardImg="top" [src]="previewImageUrl" style="height: 100px;">            
            <p cCardText class="mt-2">
              Es el logotipo de su empresa. Aparecerá en la parte superior de la
              barra de navegación.
            </p>
          </c-col>
          <c-col class="col-8">
            <h3 cCardTitle>Logotipo</h3>
            <c-row>
              <c-col>
                <input
                cFormControl
                id="formFile"
                type="file"
                (change)="selectFile($event)"
                class="mb-3"
                />
              </c-col>

              <!-- Notification email -->
              <div class="form-floating">
                <input
                  type="email"
                  class="form-control form-floating"
                  placeholder="Correo electronico para recibir notificaciones"
                />
                <label for="color"
                  >Correo electronico para recibir notificaciones</label
                >
  
                <div class="alert alert-danger" role="alert" *ngIf="">
                  El nombre del usuario <strong> es obligatorio</strong>
                </div>
              </div>
            </c-row>
  
            
  
            <P>
              Nota: Si deseas aumentar o disminuir tu paquete de empleados
              contratados favor de ponerte en contacto con el administrador del
              sistema.</P
            >
          </c-col>


        </c-row>
      </c-card-body>

      <c-card-footer>
        <button
          cButton
          color="dark"
          variant="outline"
          style="float: right"
          id="btnSubmit"
          type="submit"
          (click)="saveChanges()" 
        >
          Guardar
        </button>
      </c-card-footer>
    </c-card>
  </c-col>
</c-row>
