<!-- Tabla empleados  -->
<c-row>
    <c-col xs>
      <c-card class="mb-4">
  
        <c-card-header> 
          <h3 style="float: left;">Empleados</h3> 
          <button cButton color="success" style="float: right;">+ Agregar</button>
        </c-card-header>
  
        <c-card-body>
          <table
            [hover]="true"
            [responsive]="true"
            [striped]="true"
            align="middle"
            cTable
            class="mb-0 border"
          >
            <thead cTableColor="light">
              <tr>
                <th>N.°</th>
  
                <th class="text-center">
                  <svg cIcon name="cilPeople"></svg>
                </th>
  
                <th>Empleado</th>
  
                <th>Empresa</th>
  
                <th>Sucursal</th>
  
                <th>Puesto</th>
  
                <th>Departamento</th>
  
                <th>Antigüedad</th>
  
                <th>Cumplimiento laboral</th>
  
                <th>Expediente laboral</th>
  
                <th>Acciones</th>
              </tr>
            </thead>
  
  <!-- ------------------------------------------------------------------------------------------------ -->
  
            <tbody>
              <tr >
                <!-- id -->
                <td>
                  <!-- {{ user.idEmployee}} -->
                </td>
  
                <!-- Foto y estatus empleado -->
                <td class="text-center">
                  <c-avatar
                    size="md"
                    
                    
                  ></c-avatar>
                </td>
  
                <!-- Empleado -->
                <td>
                  <div class="text-center">
                    <!-- {{ doc.name }} -->
                  </div>
                  <!-- <div class="small text-medium-emphasis">
                    <span>{{ user.state }}</span> | Registered:
                    {{ user.registered }}
                  </div> -->
                </td>
  
                <!-- Empresa -->
                <td class="text-center">
                  <!-- {{ user.business }} -->
                </td>
  
                <!-- Sucursal -->
                <td>
                  <!-- {{ user.branch }} -->
                  <!-- <div class="clearfix">
                    <div class="float-start">
                      <strong>{{ user.usage }}%</strong>
                    </div>
                    <div class="float-end">
                      <small class="text-medium-emphasis">
                        {{ user.period }}
                      </small>
                    </div>
                  </div> -->
                  
                </td>
  
                <!-- Puesto -->
                <td class="text-center">
                  <!-- {{ user.job }} -->
                  
                </td>
  
                <!-- Departamento -->
                <td>
                  <!-- {{ user.department }} -->
                  <!-- <div class="small text-medium-emphasis">Last login</div> -->
                  <!-- <strong>{{ user.activity }}</strong> -->
                </td>
  
                <!-- Antiguedad -->
                <td>
                  <!-- {{ user.antiquity }} -->
                </td>
  
                <!-- Cumplimiento Laboral -->
                <td>
                  <c-progress thin>
                    <c-progress-bar
                      
                      
                      
                    ></c-progress-bar>
                  </c-progress>
  
                  <div class="small text-medium-emphasis">
                    <!-- <span>{{ user.laborCompliance }}%</span> -->
                  </div>                
                </td>
  
                <!-- Expediente Laboral -->
                <td>
                  <div class="text-center">
                    <a href="/#/documents"><svg cIcon name="cilFile" size="xl"></svg></a>
                  </div>
                </td>
  
                <!-- Acciones -->
                <td>
                  <div class="text-center">
                    <svg cIcon name="cilOptions" size="xl"></svg>
                  </div>
                </td>
  
              </tr>
            </tbody>
          </table>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
  