<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>

    <c-row class="justify-content-center">
      <c-col md="8">
        <c-card-group>

          <c-card class="p-4">
            <c-card-body>

              <form cForm class="row g-3" [formGroup]="loginForm" (ngSubmit)="onLogin()" [gutter]="3" >
                <h1>Inicio de sesión</h1>
                <p class="text-medium-emphasis">Ingrese con su usuario y contraseña asignados</p>
                 <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <input
                  type="text"
                  class="form-control"
                  id="username"
                  formControlName="username"
                  name="username"
                  placeholder="Nombre de usuario"
                  />
                <c-form-feedback *ngIf="isValidField('username')">{{getErrorMessage("username")}}.</c-form-feedback>
                <br>
                </c-input-group>
                <label cFormCheckLabel for="password" *ngIf="isValidField('username')">{{getErrorMessage("username")}}.</label>

                <c-input-group class="mb-4">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input
                  [type] = "hide ? 'password' : 'text'"
                  type="password"
                  class="form-control"
                  id="password"
                  formControlName="password"
                  name="password"
                  placeholder="Contrase;a"
                  />  
                  <button matSubffix (click)="hide = !hide">
                    <svg [cIcon]="icons.cilLowVision" size="xl" title="List Icon">{{ hide ? "visibility_off" : "visibility"}}</svg>
                  </button>
                </c-input-group>
                <label cFormCheckLabel for="password" *ngIf="isValidField('password')">{{getErrorMessage("password")}}.</label>
                <c-row>

                  <c-col style="margin: auto;" xs="6">
                    <button
                    (click)= "onLogin()"
                    cButton
                    class="px-4"
                    color="primary"
                    id="btnSubmit"
                    type="submit"
                    [disabled]="loginForm.invalid"
                    >
                      Login
                    </button>
                  </c-col>
                  <c-col class="text-right" xs="6">
                    <button cButton class="px-0" color="link">
                      Forgot password?
                    </button>
                  </c-col>
                </c-row>
              </form>
              <!-- <c-input-group>
                 <span cInputGroupText>
                  <svg cIcon name="cilUser"></svg>
                </span>
                <c-col>
                  <div class="form-floating">
                    <input type="text" class="form-control" id="firstNameTitular" formControlName="username"
                      name="firstNameTitular" placeholder="Usuario" />
                    <label for="username">{{ this.username }}</label>

                  <div
                    class="alert alert-danger"
                    role="alert"
                    *ngIf="this.loginForm.get('username')?.errors?.['required'] && this.loginForm.get('username')?.touched"
                  >
                  Escriba su usuario
                  </div>
                    </div>
                  </c-col>
               </c-input-group>
              <c-input-group>
                <span cInputGroupText>
                  <svg cIcon name="cilLockLocked"></svg>
                </span>
                <c-col >
                  <div class="form-floating">
                    <input type="password"
                    class="form-control"
                    id="password"
                    formControlName="password"
                    name="password"
                    placeholder="Contrase;a" />
                    <label for="password">{{ this.password }}</label>

                  <div
                    class="alert alert-danger"
                    role="alert"
                    *ngIf="this.loginForm.get('password')?.errors?.['required'] && this.loginForm.get('password')?.touched"
                  >
                  Escriba su contraseña
                  </div>
                    </div>
                  </c-col>
              </c-input-group> -->
              <!-- <hr>
              <c-row>
                <c-col xs="6">
                  <button
                  (click)= "onLogin()"
                  cButton
                  class="px-4"
                  color="primary"
                  id="btnSubmit"
                  type="submit">
                    Login
                  </button>
                </c-col>
                <c-col class="text-right" xs="6">
                  <button cButton class="px-0" color="link">
                    Forgot password?
                  </button>
                </c-col>
              </c-row>
              </form> -->
            </c-card-body>
          </c-card>



          <c-card [ngStyle]="{'width.%': 44}" class="text-white bg-primary py-5">
            <c-card-body class="text-center">
              <div>
                <h2>Sign up</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <button [active]="true" cButton class="mt-3" color="primary" routerLink="/register">
                  Register Now!
                </button>
              </div>
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>