 <c-row>
    <c-col xs>
      <c-card class="mb-4">
        <c-card-header>
          <h3 style="float: left">Bitácoras de servicios</h3>
        </c-card-header>
  
        <c-card-body>
          <form cForm class="row g-3" novalidate>
            <c-row class="mt-2">
  
              <c-col [md]="12">
                <div class="form-floating">
  
                  <input type="text" class="form-control" id="" formControlName="logo" name=""
                    placeholder="Seleccione el logo" />
                  <label for="logo">Escriba el servicio</label>
  
                  <div class="alert alert-danger" role="alert" *ngIf="">
                    El nombre del usuario <strong> es obligatorio</strong>
                  </div>
                </div>
              </c-col>
  
            </c-row>
          </form>
        </c-card-body>
  
        <c-card-footer>
          <button cButton color="dark" variant="outline" style="float: right" id="btnSubmit" type="submit"
            [disabled]="">Guardar
          </button>
        </c-card-footer>
      </c-card>
    </c-col>
  </c-row> -->