<!-- <app-widgets-dropdown></app-widgets-dropdown> -->

<!-- Tabla empleados  -->
<c-row>
    <c-col xs>
      <c-card class="mb-4">
  
        <c-card-header> 
          <h3 style="float: left;">Licenciatario</h3> 
        </c-card-header>
  
        <c-card-body>
          <table
            [hover]="true"
            [responsive]="true"
            [striped]="true"
            align="middle"
            cTable
            class="mb-0 border"            
          >
            <thead cTableColor="dark">
              <tr>
  
                <th class="text-center">Nombre del titular</th>
  
                <th class="text-center">RFC asignados</th>
  
                <th class="text-center">Empleados asignados</th>
  
                <th class="text-center">Pago mensual</th>
  
                <th class="text-center">Acciones</th>
                
              </tr>
            </thead>
  
  <!-- ------------------------------------------------------------------------------------------------ -->
  
            <tbody>
              <tr *ngFor="let user of ListUsers  | paginate : { itemsPerPage: itemsPerPage, currentPage: p }; index as i">
                
                <!-- nombre del titular -->
                <td class="text-center">
                  <p>{{user.firstNameTitular}} {{ user.lastNameTitular }}</p>
                </td>
  
                <!-- RFC asignados -->
                <td class="text-center">
                  {{ user.totalRFC }}
                  
                </td>
  
                <!-- Empleados asignados -->
                <td class="text-center">
                  {{ user.totalEmployees }}
                  
                </td>
  
                <!-- Pago mensual -->
                <td class="text-center">
                  ${{ user.monthlyDebt }}
                </td>
  
                <!-- Acciones -->
                <td>
                  <c-button-group
                 
                  aria-label="Large button group"
                  class="m-1"
                  role="group"
                  sizing="lg"
                >
                  <button
                  style="margin-left: 30%"
                    cButton
                    color="secondary"
                    variant="outline"
                    [routerLink]="['/edit-user', user._id]"
                  >
                    Editar
                  </button>

                  <button
                    cButton
                    color="danger"
                    variant="outline"
                    (click)="deleteUser(user._id)"
                  >
                    Eliminar
                  </button>
                </c-button-group>
                  <!-- <button (click)="deleteEmployee(user.idEmployee!)" cButton color="danger" style="float: right;"><svg cIcon name="cil-trash" size="xl"></svg></button> -->
                </td>
  
              </tr>
            </tbody>
          </table>
        </c-card-body>

        <c-card-footer >
          <div class="mt-8 py-5 felx justyfy-center">
            <pagination-controls
              class=""
              style="float: right"
              previousLabel=" "
              nextLabel=" "
              (pageChange)="p = $event"
            ></pagination-controls>
          </div>
        </c-card-footer>

      </c-card>
    </c-col>
  </c-row>
  