<c-row>
  <c-col >
    <c-card class="mb-4">
      <c-card-header class="p-4">
        <h3 style="float: left">Crear Documentos Laborales</h3>
        <button class="ms-auto"
          cButton
          color="dark"
          variant="outline"
          style="float: right"
          id="btnSubmit"
          type="submit"
          (click)="saveDoc()"
          [disabled]="laborDocumentForm.invalid"
        >
          + Agregar
        </button>
      </c-card-header>

      <c-card-body class="p-4">
        <form
          cForm
          class="row g-3"
          [formGroup]="laborDocumentForm"
          (ngSubmit)="saveDoc()"
        >
          <c-row style="margin-bottom: 2%">
            <c-col [md]="6" style="margin-top: 15px">
              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  formControlName="name"
                  name="name"
                  placeholder="name"
                  required
                />
                <label for="name">Nombre</label>
                <div
                  class="alert alert-danger"
                  role="alert"
                  style="margin-top: 3px"
                  *ngIf="this.laborDocumentForm.get('name')?.errors?.['required'] && this.laborDocumentForm.get('name')?.touched"
                >
                  El nombre del documento <strong> es obligatorio</strong>
                </div>
              </div>
            </c-col>

            <c-col [md]="6" style="margin-top: 15px">
              <div class="form-floating">
                <select
                  cSelect
                  id="docType"
                  class="form-control"
                  name="docType"
                  formControlName="type"
                >
                  <option>Empleado</option>
                  <option>Empresa</option>
                </select>
                <label for="docType">Tipo de documento</label>
                <div
                  class="alert alert-danger"
                  *ngIf="this.laborDocumentForm.get('type')?.errors?.['required'] && this.laborDocumentForm.get('type')?.touched"
                  style="margin-top: 3px"
                >
                  <span
                    >El tipo del documento<strong> es obligatorio</strong></span
                  >
                </div>
              </div>
            </c-col>
          </c-row>

          <div class="container">
            <div class="row">
              <div class="col">
                <c-form-check sizing="xl" switch>
                  <label cFormCheckLabel>Obligatorio</label>
                  <input
                    cFormCheckInput
                    type="checkbox"
                    class="form-control"
                    name="isMandatory"
                    formControlName="isMandatory"
                    id="isMandatory"
                  />
                </c-form-check>
              </div>
              <div class="col">
                <c-form-check sizing="xl" switch>
                  <label cFormCheckLabel>Aplicación inmediata</label>
                  <input
                    cFormCheckInput
                    type="checkbox"
                    class="form-control"
                    name="isImmediate"
                    formControlName="isImmediate"
                    id="isImmediate"
                  />
                </c-form-check>
              </div>
              <div class="col">
                <c-form-check sizing="xl" switch>
                  <label cFormCheckLabel>Campos únicos</label>
                  <input
                    cFormCheckInput
                    type="checkbox"
                    class="form-control"
                    name="uniqueFields"
                    formControlName="uniqueFields"
                    id="uniqueFields"
                    (change)="showUniqueFields($event)"
                  />
                </c-form-check>
              </div>
            </div>
          </div>

          <!-- ------------------------------------------------------------------------
           -->

          <hr *ngIf="isDisplayed" />

          <h4 *ngIf="isDisplayed">Campos únicos</h4>
          <p *ngIf="isDisplayed">
            Esta sección permite delimitar campos únicos que serán agregados a
            <strong>este documento únicamente</strong>
          </p>
          <c-col [md]="3" *ngIf="isDisplayed">
            <input
              type="text"
              class="form-control"
              id="uniqueName"
              formControlName="uniqueName"
              name="uniqueName"
              placeholder="Nombre"
            />
          </c-col>

          <c-col [md]="3" *ngIf="isDisplayed">
            <select
              cSelect
              id="uniqueType"
              class="form-control"
              name="uniqueType"
              formControlName="uniqueType"
              placeholder="Tipo"
            >
              <option>Texto</option>
              <option>Fecha</option>
            </select>
          </c-col>
          <!--  -->
          <c-col [md]="3" *ngIf="isDisplayed">
            <input
              type="text"
              class="form-control"
              id="uniqueName1"
              formControlName="uniqueName1"
              name="uniqueName1"
              placeholder="Nombre"
            />
          </c-col>
          <c-col [md]="3" *ngIf="isDisplayed">
            <select
              cSelect
              id="uniqueType1"
              class="form-control"
              name="uniqueType1"
              formControlName="uniqueType1"
              placeholder="Tipo"
            >
              <option>Texto</option>
              <option>Fecha</option>
            </select>
          </c-col>
          <!--  -->
          <c-col [md]="3" *ngIf="isDisplayed">
            <input
              type="text"
              class="form-control"
              id="uniqueName2"
              formControlName="uniqueName2"
              name="uniqueName2"
              placeholder="Nombre"
            />
          </c-col>
          <c-col [md]="3" *ngIf="isDisplayed">
            <select
              cSelect
              id="uniqueType2"
              class="form-control"
              name="uniqueType2"
              formControlName="uniqueType2"
              placeholder="Tipo"
            >
              <option>Texto</option>
              <option>Fecha</option>
            </select>
          </c-col>
          <!--  -->
          <c-col [md]="3" *ngIf="isDisplayed">
            <input
              type="text"
              class="form-control"
              id="uniqueName3"
              formControlName="uniqueName3"
              name="uniqueName3"
              placeholder="Nombre"
            />
          </c-col>
          <c-col [md]="3" *ngIf="isDisplayed">
            <select
              cSelect
              id="uniqueType3"
              class="form-control"
              name="uniqueType3"
              formControlName="uniqueType3"
              placeholder="Tipo"
            >
              <option>Texto</option>
              <option>Fecha</option>
            </select>
          </c-col>
          <c-col [md]="3" *ngIf="isDisplayed">
            <input
              type="text"
              class="form-control"
              id="uniqueName4"
              formControlName="uniqueName4"
              name="uniqueName4"
              placeholder="Nombre"
            />
          </c-col>
          <c-col [md]="3" *ngIf="isDisplayed">
            <select
              cSelect
              id="uniqueType4"
              class="form-control"
              name="uniqueType4"
              formControlName="uniqueType4"
              placeholder="Tipo"
            >
            
              <option>Texto</option>
              <option>Fecha</option>
            </select>
          </c-col>
          <c-col [md]="3" *ngIf="isDisplayed">
            <input
              type="text"
              class="form-control"
              id="uniqueName4"
              formControlName="uniqueName5"
              name="uniqueName4"
              placeholder="Nombre"
            />
          </c-col>
          <c-col [md]="3" *ngIf="isDisplayed">
            <select
              cSelect
              id="uniqueType4"
              class="form-control"
              name="uniqueType4"
              formControlName="uniqueType5"
              placeholder="Tipo"
            >
            
              <option>Texto</option>
              <option>Fecha</option>
            </select>
          </c-col>
        </form>


      </c-card-body>

    </c-card>
  </c-col>
</c-row>

<!-- ======================================================================================================================= -->

<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header class="p-4">
        <h3 style="float: left">Documentos laborales Existentes</h3>
      </c-card-header>

      <c-card-body class="p-4">
        <table
          [hover]="true"
          [responsive]="true"
          [striped]="false"
          align="middle"
          cTable
          class="mb-0 border"
        >
          <thead cTableColor="dark">
            <tr>
              <th class="col-8">Documento</th>

              <th class="col-2">Tipo</th>

              <th class="col-2">Acciones</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let doc of ListDocs  | paginate : { itemsPerPage: itemsPerPage, currentPage: p }; index as i">
              <!-- Empleado -->
              <td>
                {{ doc.name }}
                <!--- <span class="badge bg-secondary">{{doc.isMoral}}</span>-->
              </td>
            
              <!-- Empresa -->
              <td>
                {{ doc.type }}
              </td>
            
              <!-- Sucursal -->
              <td>
                <c-button-group aria-label="Large button group" class="m-1" role="group" sizing="lg">
                  <button cButton color="dark" variant="outline" (click)="redirectToEditor(doc._id, doc.name, true)">
                    Moral
                  </button>
                  <button cButton color="dark" variant="outline" (click)="redirectToEditor(doc._id, doc.name, false)">
                    Fisica
                  </button>
                </c-button-group>
              </td>
            </tr>
            
          </tbody>
        </table>
      </c-card-body>

      <c-card-footer class="p-4">
        <div class="text-center">
          <pagination-controls
            class=""
            style="float: right"
            previousLabel=" "
            nextLabel=" "
            (pageChange)="p = $event"
          ></pagination-controls>
        </div>
      </c-card-footer>
    </c-card>
  </c-col>
</c-row>
