<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header>
        <h3 style="float: left">{{ Title }}</h3>
        <button
          class="ms-auto"
          cButton
          (click)="saveClient()"
          color="dark"
          style="float: right"
          id="btnSubmit"
          type="submit"
          [disabled]="!createClientForm.valid"
        >
          + Crear
        </button>
      </c-card-header>

      <c-card-body class="p-4">
        <form cForm class="row g-3" [formGroup]="createClientForm" novalidate>
          <c-row>
            <h4>Información del cliente</h4>
          </c-row>

          <c-row class="mt-2">

            <!-- businessName -->
            <c-col [md]="3">
              <div class="form-floating">
                <input
                  type="text"
                  class="form-control"
                  id="businessName"
                  formControlName="businessName"
                  name="businessName"
                  placeholder="Razón social"
                />
                <label for="businessName">{{ this.businessName }}</label>

                <div
                  class="alert alert-danger"
                  role="alert"
                  *ngIf="this.createClientForm.get('businessName')?.errors?.['required'] && this.createClientForm.get('businessName')?.touched"
                >
                  La razón social<strong> es obligatoria</strong>
                </div>
              </div>
            </c-col>

            <!-- taxRegime -->
            <c-col [md]="2">
              <div class="form-floating">
                <input
                  cFormControl
                  id="taxRegime"
                  type="text"
                  class="form-control"
                  formControlName="taxRegime"
                  name="taxRegime"
                  placeholder="Regimen Fiscal"
                />
                <label for="taxRegime">{{ this.taxRegime }}</label>

                <div
                  class="alert alert-danger"
                  role="alert"
                  style="margin-top: 3px"
                  *ngIf="this.createClientForm.get('taxRegime')?.errors?.['required'] && this.createClientForm.get('taxRegime')?.touched"
                >
                  El regimen fiscal <strong> es obligatorio</strong>
                </div>
              </div>
            </c-col>

            <!-- RFC -->
            <c-col [md]="3" class="mb-3">
              <div class="form-floating">
                <input
                  cFormControl
                  id="RFC"
                  type="text"
                  class="form-control"
                  formControlName="RFC"
                  name="RFC"
                  placeholder="RFC"
                />
                <label for="RFC">{{ this.RFC }}</label>
              </div>
              <div
                class="alert alert-danger"
                role="alert"
                style="margin-top: 3px"
                *ngIf="this.createClientForm.get('RFC')?.hasError?.('required') && this.createClientForm.get('RFC')?.touched"
              >
                El RFC<strong> es obligatorio</strong>
              </div>
            </c-col>

            <!-- CFDI -->
            <c-col [md]="4">
              <div class="form-floating mb-3">
                <select
                  class="form-select"
                  id="CFDI"
                  formControlName="CFDI"
                  placeholder="CFDI"
                >
                  <option>Comprobante de ingreso</option>
                  <option>Comprobante de egreso</option>
                  <option>Comprobante de traslado</option>
                  <option>Comprobante de recepción de pagos</option>
                  <option>Comprobante de nómina</option>
                  <option>Comprobante de retenciones e información de pagos</option>
                  <option>...</option>
                </select>
                <label for="CFDI">{{this.CFDI}}</label>
              </div>
              <div
                  class="alert alert-danger"
                  role="alert"
                  style="margin-top: 3px"
                  *ngIf="this.createClientForm.get('CFDI')?.hasError?.('required') && this.createClientForm.get('CFDI')?.touched"
                >
                  El uso de CFDI<strong> es obligatorio</strong>
                </div>
            </c-col>

          </c-row>

<!-- ------------------------------------------------------------------------------------------------ -->
<!-- ------------------------------------------------------------------------------------------------ -->

          <c-row>
            <hr />
            <h4>Domicilio fiscal</h4>
          </c-row>

          <c-row class="mt-2">

            <!-- Street -->
            <c-col [md]="3">
              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="street"
                  placeholder="Calle"
                  formControlName="street"
                />
                <label for="street">{{ this.street }}</label>
              </div>
              <div
                  class="alert alert-danger"
                  role="alert"
                  *ngIf="this.createClientForm.get('street')?.errors?.['required'] && this.createClientForm.get('street')?.touched"
                >
                  La calle <strong> es obligatoria</strong>
                </div>
            </c-col>

            <!-- Suburb -->
            <c-col [md]="3">
              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="suburb"
                  placeholder="Colonia"
                  formControlName="suburb"
                />
                <label for="suburb">{{ this.suburb }}</label>
              </div>
              <div
                  class="alert alert-danger"
                  role="alert"
                  *ngIf="this.createClientForm.get('suburb')?.hasError?.('required') && this.createClientForm.get('suburb')?.touched"
                >
                  La colonia<strong> es obligatoria</strong>
                </div>
            </c-col>

            <!-- outdoorNumber input -->
            <c-col [md]="2">
              <div class="form-floating mb-3">
                <input
                  type="number"
                  class="form-control"
                  id="outdoorNumber"
                  placeholder="Número exterior"
                  formControlName="outdoorNumber"
                />
                <label for="outdoorNumber">{{ this.outdoorNumber }}</label>
                <div
                  class="alert alert-danger"
                  role="alert"
                  *ngIf="this.createClientForm.get('outdoorNumber')?.hasError?.('required') && this.createClientForm.get('outdoorNumber')?.touched"
                >
                  El numero exterior<strong> es obligatorio</strong>
                </div>
                <div
                  class="alert alert-danger"
                  role="alert"
                  style="margin-top: 3px"
                  *ngIf="this.createClientForm.get('outdoorNumber')?.hasError?.('maxlength') && this.createClientForm.get('outdoorNumber')?.touched"
                >
                  El numero exterior<strong> es muy largo</strong>
                </div>
              </div>
            </c-col>

            <!-- innerNumber input -->
            <c-col [md]="2">
              <div class="form-floating mb-3">
                <input
                  type="number"
                  class="form-control"
                  id="innerNumber"
                  placeholder="Número exterior"
                  formControlName="innerNumber"
                />
                <label for="innerNumber">{{ this.innerNumber }}</label>
              </div>
            </c-col>

            <!-- zipCode input -->
            <c-col [md]="2">
              <div class="form-floating mb-3">
                <input
                  type="number"
                  class="form-control"
                  id="zipCode"
                  placeholder="Código postal"
                  formControlName="zipCode"
                />
                <label for="zipCode">{{ this.zipCode }}</label>
                <div
                  class="alert alert-danger"
                  role="alert"
                  *ngIf="this.createClientForm.get('zipCode')?.hasError?.('required') && this.createClientForm.get('zipCode')?.touched"
                >
                  El código postal<strong> es obligatorio</strong>
                </div>
              </div>
            </c-col>
            
          </c-row>

          <c-row>
            <hr />
            <h4>Datos del responsable del servicio</h4>
          </c-row>

          <c-row class="mt-2">
            <!-- inChargeName -->
            <c-col [md]="3">
              <div class="form-floating">
                <input
                  type="text"
                  class="form-control"
                  id="inChargeName"
                  placeholder="Nombre"
                  formControlName="inChargeName"
                />
                <label for="inChargeName">{{ this.inChargeName }}</label>
                <div
                  class="alert alert-danger"
                  role="alert"
                  *ngIf="this.createClientForm.get('inChargeName')?.hasError?.('required') && this.createClientForm.get('inChargeName')?.touched"
                >
                  El nombre<strong> es obligatorio</strong>
                </div>
              </div>
            </c-col>

            <!-- jobTitle -->
            <c-col [md]="3">
              <div class="form-floating">
                <input
                  type="text"
                  class="form-control"
                  id="jobTitle"
                  placeholder="jobTitle"
                  formControlName="jobTitle"
                />
                <label for="jobTitle">{{ this.jobTitle }}</label>
                <div
                  class="alert alert-danger"
                  role="alert"
                  *ngIf="this.createClientForm.get('jobTitle')?.hasError?.('required') && this.createClientForm.get('jobTitle')?.touched"
                >
                  El puesto<strong> es obligatorio</strong>
                </div>
              </div>
            </c-col>
            <!-- phoneNumber -->
            <c-col [md]="2">
              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="phoneNumber"
                  placeholder="Numero telefonico"
                  formControlName="phoneNumber"
                />
                <label for="phoneNumber">{{ this.phoneNumber }}</label>
                <div
                  class="alert alert-danger"
                  role="alert"
                  *ngIf="this.createClientForm.get('phoneNumber')?.hasError?.('required') && this.createClientForm.get('phoneNumber')?.touched"
                >
                  El telefono<strong> es obligatorio</strong>
                </div>
              </div>
            </c-col>

            <!-- extension -->
            <c-col [md]="1">
              <div class="form-floating">
                <input
                  type="text"
                  class="form-control"
                  id="extension"
                  placeholder="Extension"
                  formControlName="extension"
                />
                <label for="extension">{{ this.extension }}</label>                
              </div>
            </c-col>

            <!-- email -->
            <c-col [md]="3">
              <div class="form-floating mb-3">
                <input
                  cFormControl
                  id="email"
                  type="text"
                  class="form-control"
                  name="email"
                  formControlName="email"
                  placeholder="email"
                />
                <label for="email">{{ this.email }}</label>
                <div
                  class="alert alert-danger"
                  role="alert"
                  *ngIf="this.createClientForm.get('email')?.errors?.['required'] && this.createClientForm.get('email')?.touched"
                >
                  El email <strong> es obligatorio</strong>
                </div>
                <div
                  class="alert alert-danger"
                  role="alert"
                  style="margin-top: 3px"
                  *ngIf="this.createClientForm.get('email')?.errors?.['email'] && this.createClientForm.get('email')?.touched"
                >
                  El email debe ser <strong> valido </strong>
                </div>
              </div>
            </c-col>

          </c-row>

<!-- ------------------------------------------------------------------------------------------------ -->
<!-- ------------------------------------------------------------------------------------------------ -->
          <c-row>
            <hr />
            <h4>Atributos en sistema</h4>
          </c-row>

          <c-row class="mt-2">
            <!-- totalRFC -->
            <c-col [md]="2">
              <div class="form-floating">
                <input
                  type="number"
                  class="form-control"
                  id="totalRFC"
                  placeholder="Nombre"
                  formControlName="totalRFC"
                />
                <label for="totalRFC">{{ this.totalRFC }}</label>
                <div
                  class="alert alert-danger"
                  role="alert"
                  *ngIf="this.createClientForm.get('totalRFC')?.hasError?.('required') && this.createClientForm.get('totalRFC')?.touched"
                >
                  La cantidad de RFC asignados<strong> es obligatoria</strong>
                </div>
              </div>
            </c-col>

            <!-- totalEmployees -->
            <c-col [md]="2">
              <div class="form-floating">
                <input
                  type="number"
                  class="form-control"
                  id="totalEmployees"
                  placeholder="totalEmployees"
                  formControlName="totalEmployees"
                />
                <label for="totalEmployees">{{ this.totalEmployees }}</label>
                <div
                  class="alert alert-danger"
                  role="alert"
                  *ngIf="this.createClientForm.get('totalEmployees')?.hasError?.('required') && this.createClientForm.get('totalEmployees')?.touched"
                >
                  La cantidad de empleados asignados<strong> es obligatoria</strong>
                </div>
              </div>
            </c-col>

            <!-- userAssigned -->
            <c-col [md]="3">
              <div class="form-floating">
                <input
                  type="text"
                  class="form-control"
                  id="userAssigned"
                  placeholder="userAssigned"
                  formControlName="userAssigned"
                />
                <label for="userAssigned">{{ this.userAssigned }}</label>
                <div
                  class="alert alert-danger"
                  role="alert"
                  *ngIf="this.createClientForm.get('userAssigned')?.hasError?.('required') && this.createClientForm.get('userAssigned')?.touched"
                >
                  El nombre de usuario<strong> es obligatorio</strong>
                </div>
              </div>
            </c-col>

            <!-- passwordAssigned -->
            <c-col [md]="3">
              <div class="form-floating">
                <input
                  type="text"
                  class="form-control"
                  id="passwordAssigned"
                  placeholder="passwordAssigned"
                  formControlName="passwordAssigned"
                />
                <label for="passwordAssigned">{{ this.passwordAssigned }}</label>
                <div
                  class="alert alert-danger"
                  role="alert"
                  *ngIf="this.createClientForm.get('passwordAssigned')?.hasError?.('required') && this.createClientForm.get('passwordAssigned')?.touched"
                >
                  La contrase;a<strong> es obligatoria</strong>
                </div>
              </div>
            </c-col>

            <!-- consultantAssigned -->
            <c-col [md]="2">
              <div class="form-floating">
                <input
                  type="text"
                  class="form-control"
                  id="consultantAssigned"
                  placeholder="consultantAssigned"
                  formControlName="consultantAssigned"
                />
                <label for="consultantAssigned">{{ this.consultantAssigned }}</label>
                <div
                  class="alert alert-danger"
                  role="alert"
                  *ngIf="this.createClientForm.get('passwordAssigned')?.hasError?.('required') && this.createClientForm.get('passwordAssigned')?.touched"
                >
                  La contrase;a<strong> es obligatoria</strong>
                </div>
              </div>
            </c-col>
          </c-row>

<!-- ------------------------------------------------------------------------------------------------ -->          
<!-- ------------------------------------------------------------------------------------------------ -->
        </form>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>


<c-row>
  <c-col>
    <c-card class="mb-4" style="height: 700px;">

      <c-card-header>
        <h3 style="float: left">Clientes</h3>
        <pagination-controls (pageChange)="p1 = $event" id="clientPagination" previousLabel="" nextLabel=""
          style="float: right;" class="ms-auto"></pagination-controls>
      </c-card-header>

      <c-card-body>

        <table
          [hover]="true"
          [responsive]="true"
          [striped]="true"
          cTable
        >
          <thead cTableColor="dark">
          <tr>
            <th>Nombre</th>
            <th>RFC</th>
            <th>Usuario</th>
            <th>Responsable del servicio</th>
            <th>RFC Asignados</th>
            <th>Empleados Asignados</th>
            <th>Consultor asignado</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let client of clientList | paginate: { itemsPerPage: 9, currentPage: p1, id: 'clientPagination' }; index as i">
            <td>
              <div>{{ client.businessName }}</div>
              <div class="small text-medium-emphasis">
                <span>{{ client.taxRegime }}</span> | Registered:
                {{ client.createdAt  }}
              </div> 
            </td>
            <td>
              <div>{{ client.RFC}}</div>
            </td>
            <td>
              <div>{{ client.userAssigned}}</div>
            </td>
            <td>
              <div>{{ client.inChargeName}}</div>
              <div class="small text-medium-emphasis">
                <span>puesto</span>
              </div> 
            </td>
            <td>
              <div>{{ client.totalRFC}}</div>
            </td>
            <td>
              <div>{{ client.totalEmployees}}</div>
            </td>
            <td>
              <div>consultor</div>
            </td>
          </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
